<h1>PRODUCTOS</h1>
{{#each products}}
<div class="containerProducts">
    <div class="container">
    <h3>Producto: {{title}}</h3>
    <h3>Descripcion: {{description}}</h3>
    <h3>codigo: {{code}}</h3>
    <h3>precio: ${{price}}</h3>
    <h3>Stock: {{stock}}</h3>
    </div>
</div>
{{/each}}
